{% extends 'base.html' %}
{% block title %}500. Houston, we're in trouble!{% endblock %}
{% block content %}
<main>
    <section class="container my-5 px-4">
        <h1 class="text-center"><span style="color:red">500</span> Houston, we're in trouble!</h1>
        <p class="text-center my-4">
            The server may have crashed or there may be short-term
            engineering works. Try refreshing the page now or in a couple of days.
            minutes.
        </p>
    </section>
</main>
{% endblock %}